:root {
  font-family: 'Pretendard', sans-serif;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #f5f7fb;
}

div {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}